# Ignore folder .svn (including subfolders)
.svn/

# Ignore specific build folders
/examples/unit_tests/build/
/examples/linux_tap/build/
/examples/mem_usage_stm32/build/
/examples/mem_usage_stm32/results/
